<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
  <style type="text/css">

    .genres {
        display:inline-block;
        font-size: 18.72px;
        font-weight:bold;
    }

  </style>
</head>
<body>

<h3 th:text="'ID: ' + ${book.id} + ', Title: ' + ${book.title} + ', Author: ' + ${book.author.fullName} + ', Genres: '">book</h3>
<div class = "genres" th:each="genre : ${book.genres}" th:text="${genre.name} + ', '">Default Genres</div>

<form id="update-book-form" action="books.html" th:action="@{/books/{id}(id = *{id})}" th:method="put" th:object="${book}">
  <h3>Change book:</h3>

  <div class="row">
    <label for="update-book-title-input">Title:</label>
    <input id="update-book-title-input" name="title" type="text"/>
  </div>

  <div class="row">
    <label for="update-book-author-input">Author:</label>
    <input id="update-book-author-input" name="authorId" type="text"/>
  </div>

  <div class="row">
    <label for="update-book-genres-input">Genres</label>
    <input id="update-book-genres-input" name="genresIds" type="text"/>
  </div>

  <div class="row">
    <button type="submit">Save</button>
  </div>
</form>

<form th:action="@{/comments}" th:method="get">
  <button type="submit" th:name="bookId" th:value="*{id}">Show comments</button>
</form>

<form th:action="@{/books/{id}(id = *{id})}" th:method="delete">
  <button type="submit">Delete</button>
</form>

<a href="main_page.html" th:href="@{/}">
  <button type="button">Back</button>
</a>

</body>
</html>