<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>List of all authors</title>

    <script>
        function findAllAuthors() {
            const authorsContainer = document.getElementById("authorsContainer")

            fetch("/authors")
            .then(rawResponse => rawResponse.json())
            .then(json => {
                authorsContainer.innerHTML = generateTableForAuthors(json)
            })
        }
    </script>

    <script>
        function hideAuthors() {
            document.getElementById("authorsContainer").innerHTML = ''
        }
    </script>

    <script>
        function generateTableForAuthors(authors) {
            var allAuthorRows = ''
            authors.forEach(function(author) {
                var authorRow = `
                <tr>
                  <td>${author.id}</td>
                  <td>${author.fullName}</td>
                </tr>
                `
                allAuthorRows += authorRow
            })

            return `
                <table border="1">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>FullName</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>${allAuthorRows}</tr>
                  </tbody>
                </table>`
        }
    </script>
</head>
<body>

<h3>Authors Api:</h3>

<p id="authorsContainer"></p>
<button type="button" onclick="findAllAuthors()">All authors</button>
<button type="button" onclick="hideAuthors()">Hide authors</button>
<a href="main_page.html" th:href="@{/}"><button type="button">Back</button></a>

</body>
</html>

