<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books</title>

  <script>
    function findBook() {
        const booksContainer = document.getElementById("booksContainer")
        const idInput = document.getElementById("bid-book-input")

        fetch('/books/' + idInput.value)
        .then(rawResponse => rawResponse.json())
        .then(json => {
            booksContainer.innerHTML = generateTableForBook(json)
        })
    }
  </script>

  <script>
    function findAllBooks() {
        const booksContainer = document.getElementById("booksContainer")

        fetch('/books')
        .then(rawResponse => rawResponse.json())
        .then(json => {

            booksContainer.innerHTML = generateTableForBooks(json)
            booksContainer.innerHTML = booksHeader
        })
    }
  </script>

  <script>
    function insertBook() {

        const booksContainer = document.getElementById("booksContainer")

        const titleInput = document.getElementById("insert-book-title-input")
        const authorIdInput = document.getElementById("insert-book-author-id-input")
        const genresIdInput = document.getElementById("insert-book-genres-id-input")
        const genresIdArray = Array.from(genresIdInput.selectedOptions).map(option => ({id: option.value}))
        const book = { title: titleInput.value, author: { id: authorIdInput.value}, genres: genresIdArray }

        fetch("/books", {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(book)})
        .then(rawResponse => rawResponse.json())
        .then(json => {
            booksContainer.innerHTML = generateTableForBook(json)
        })

    }
  </script>

  <script>
    function updateBook() {
        const booksContainer = document.getElementById("booksContainer")

        const idInput = document.getElementById("update-book-id-input")
        const titleInput = document.getElementById("update-book-title-input")
        const authorIdInput = document.getElementById("update-book-author-id-input")
        const genresIdInput = document.getElementById("update-book-genres-id-input")
        const genresIdArray = Array.from(genresIdInput.selectedOptions).map(option => ({id: option.value}))
        const book = { id: idInput.value, title: titleInput.value, author: { id: authorIdInput.value}, genres: genresIdArray }

        fetch("/books/" + idInput.value, {
            method: 'PUT',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(book)})
        .then(rawResponse => rawResponse.json())
        .then(json => {
            booksContainer.innerHTML = generateTableForBook(json)
        })
    }
  </script>

  <script>
    function deleteBook() {
        const booksContainer = document.getElementById("booksContainer")
        const idInput = document.getElementById("del-book-input")

        fetch('/books/' + idInput.value, {method : 'DELETE'})
        .then(rawResponse => {
            var booksHeader = ''
            booksContainer.innerHTML = booksHeader
        })
    }
  </script>

  <script>
    function hideBooks() {
        document.getElementById("booksContainer").innerHTML = ''
    }
  </script>

  <script>
    function generateTableForBook(book) {
        var genresNamesStr = ''
        book.genres.forEach(function(genre) {
            genresNamesStr += genre.name + ', '
        })

        return `
            <table border="1">
              <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genres</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>${book.id}</td>
                <td>${book.title}</td>
                <td>${book.author.fullName}</td>
                <td>${genresNamesStr}</td>
              </tr>
              </tbody>
            </table>`
    }
  </script>

  <script>
    function generateTableForBooks(books) {
        var allBookRows = ''
        books.forEach(function(book) {
            var genresNamesStr = ''
            book.genres.forEach(function(genre) {
                genresNamesStr += genre.name + ', '
            })

            var bookRow = `
            <tr>
              <td>${book.id}</td>
              <td>${book.title}</td>
              <td>${book.author.fullName}</td>
              <td>${genresNamesStr}</td>
            </tr>
            `
            allBookRows += bookRow
        })

        return `
            <table border="1">
              <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genres</th>
              </tr>
              </thead>
              <tbody>
              <tr>${allBookRows}</tr>
              </tbody>
            </table>`
    }
  </script>
</head>

<body>

<h3>Books Api:</h3>
<p id="booksContainer"></p>

<p>
<form id="bid-book-form" action="books.html" th:method="get">
  <h3>Find Book:</h3>

  <div class="row">
    <label for="bid-book-input">Id:</label>
    <input id="bid-book-input" name="id" type="text"/>
  </div>

  <div class="row">
    <button type="button" onclick="findBook()" >Find</button>
    <button type="button" onclick="findAllBooks()" >Find All</button>
  </div>
</form>
</p>

<p>
<form id="insert-book-form" action="books.html" th:method="post">
  <h3>Add book:</h3>

  <div class="row">
    <label for="insert-book-title-input">Title:</label>
    <input id="insert-book-title-input" name="title" type="text"/>
  </div>

  <div class="row">
    <label for="insert-book-author-id-input">Author:</label>
    <select id="insert-book-author-id-input">
      <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}"></option>
    </select>
  </div>

  <div class="row">
    <label for="insert-book-genres-id-input">Ids Genres:</label>
    <select id="insert-book-genres-id-input" multiple="multiple">
      <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
    </select>
  </div>

  <div class="row">
    <button type="button" onclick="insertBook()" >Save</button>
  </div>
</form>
</p>

<p>
<form id="update-book-form" action="books.html" th:method="update">
  <h3>Update book:</h3>

  <div class="row">
    <label for="update-book-id-input">Book:</label>
    <select id="update-book-id-input">
      <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.title}"></option>
    </select>
  </div>

  <div class="row">
    <label for="update-book-title-input">Title:</label>
    <input id="update-book-title-input" name="title" type="text"/>
  </div>

  <div class="row">
    <label for="update-book-author-id-input">Author:</label>
    <select id="update-book-author-id-input">
      <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}"></option>
    </select>
  </div>

  <div class="row">
    <label for="update-book-genres-id-input">Ids Genres:</label>
    <select id="update-book-genres-id-input" multiple="multiple">
      <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
    </select>
  </div>

  <div class="row">
    <button type="button" onclick="updateBook()" >Save</button>
  </div>
</form>
</p>

<p>
<form id="del-book-form" action="books.html" th:method="delete">
  <h3>Delete Book:</h3>

  <div class="row">
    <label for="del-book-input">Id:</label>
    <input id="del-book-input" name="id" type="text"/>
  </div>

  <div class="row">
    <button type="button" onclick="deleteBook()" >Delete</button>
  </div>
</form>
</p>

<p>
  <button type="button" onclick="hideBooks()">Hide books</button>
  <a href="books.html" th:href="@{/api/books}"><button type="button">Refresh</button></a>
  <a href="main_page.html" th:href="@{/}"><button type="button">Back</button></a>
</p>

</body>
</html>