<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>List of all genres</title>

    <script>
        function findAllGenres() {
            fetch("api/genres")
            .then(rawResponse => rawResponse.json())
            .then(genres => {
                let tbody = document.getElementById("genres-table-tbody")
                genres.forEach(function(genre) {
                    let tr = document.createElement('tr')

                    let tdId = document.createElement('td')
                    tdId.innerHTML = genre.id
                    let tdName = document.createElement('td')
                    tdName.innerHTML = genre.name

                    tr.appendChild(tdId)
                    tr.appendChild(tdName)

                    tbody.appendChild(tr)
                })
            })
        }
    </script>
</head>

<body onload="findAllGenres()">

<h3>Genres:</h3>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody id="genres-table-tbody"><tbody>
</table>

<a href="genres.html" th:href="@{/genres}"><button type="button">Refresh</button></a>
<a href="main_page.html" th:href="@{/}"><button type="button">Back</button></a>

</body>
</html>

