<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application pages</title>
</head>
<body>

<p>
    <h3>Authors Page:</h3>
    <a href="authors.html" th:href="@{/api/authors}"><button type="button">Authors Page</button></a>
</p>

<p>
    <h3>Genres Page:</h3>
    <a href="genres.html" th:href="@{/api/genres}"><button type="button">Genres Page</button></a>
</p>

<p>
    <h3>Comments Page:</h3>
    <a href="comments.html" th:href="@{/api/comments}"><button type="button">Comments Page</button></a>
</p>

<p>
    <h3>Books Page:</h3>
    <a href="books.html" th:href="@{/api/books}"><button type="button">Books Page</button></a>
</p>

</body>
</html>