<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
</head>
<body>

<h3 th:text="'ID: ' + ${comment.id} + ' Text: ' + ${comment.text}">Comment</h3>

<form id="update-comment-form" action="comment.html" th:object="${comment}" th:action="@{/comments/{id}(id = *{id})}" th:method="put">
    <h3>Change commentary:</h3>

    <div class="row">
        <label for="update-comment-book-id-input">Id Book:</label>
        <input id="update-comment-book-id-input" name="bookId" type="text"/>
    </div>

    <div class="row">
        <label for="update-comment-text-input">Text:</label>
        <input id="update-comment-text-input" name="text" type="text"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

<form th:action="@{/comments/{id}(id = *{id})}" th:method="delete">
    <button type="submit">Delete</button>
</form>

<a href="main_page.html" th:href="@{/}">
    <button type="button">Back</button>
</a>

</body>
</html>